body {
    background: url('Screenshot_1.png') no-repeat right;
    overflow: hidden;
    color: rgb(0, 0, 0);
}
button #btn1 {
    color: rgb(0, 0, 0);
}

.right-col input {
    width: 150px;
}

.right-col button {
    background: none;
    border: none;
    border-radius: 0%;
    font-weight: bold;
}

.right-col button:hover {
    background-color: rgb(153, 255, 144);
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.7s;
}


#bottom-row {
    margin-top: -200px;
}

#bottom-row button {
    font-size: 23px;
    font-weight: bold;
}

#bottom-row button:hover {
    background-color: rgb(82, 126, 247);
    border-radius: 30px;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: all 0.5s;
}